
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<h2 style="text-align:center">منطقة مدير النظام</h2>

<div id="service" class="hiw_section layout_padding">
    <div class="container">
        <div class="row">
           
            <div class="col-md-5">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 service_blog">
                <img class="margin_top_30 img-responsive" src="~/files/SiteImages/Visa-No.03.jpg" height="200" width="800" alt="#" />
                <h3 class="blog_head">حجز اونلاين</h3>
            </div>
            <div class="col-md-4 service_blog">
                <img class="margin_top_30 img-responsive" src="~/files/SiteImages/Capture.PNG" alt="#" />
                <h3 class="blog_head">الاستعلامات</h3>
            </div>
            <div class="col-md-4 service_blog">

                <img class="margin_top_30 img-responsive" src="~/files/SiteImages/jjjjjjjjj.jpg" alt="#" />
                <h3 class="blog_head">مراجعة البيانات</h3>
            </div>
            <div class="col-md-4 service_blog">
                <img class="margin_top_30 img-responsive" src="~/files/SiteImages/lead_original-min.jpg" alt="#" />
                <h3 class="blog_head">الدفع الالكترونى</h3>
            </div>
            <div class="col-md-4 service_blog">
                <img class="margin_top_30 img-responsive" src="~/files/SiteImages/Riyadh.jpg"  alt="#" />
                <h3 class="blog_head">السياحة الداخلية و الخارجية</h3>
            </div>
        </div>
    </div>
</div>